@charset "UTF-8";

#demo {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	.logo {
		height: 6em;
		padding: 1.5em;
		will-change: filter;
		transition: filter 300ms;
		width: 164px !important;
		height: 164px !important;

		&.vite:hover {
			filter: drop-shadow(0 0 2em #eb79fff9);
		}

		&.react:hover {
			filter: drop-shadow(0 0 2em #31fffcf8);
		}

		&.bun:hover {
			filter: drop-shadow(0 0 2em #ffe838e1);
		}
	}

	.cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding: 2rem;

		.card {
			padding: 10px;
			border-radius: 7px;
			background-color: #cccccc3a;

			button {
				margin: 10px;
				background-color: #ffffff;
			}
		}
	}

	.read-the-docs {
		color: #888;
	}
}
