@charset "UTF-8";

@import "sass/_animations.scss";
@import "sass/_buttons.scss";
@import "sass/_typography.scss";

:root {
	font-family: "Quicksand", Inter, system-ui, Avenir, Helvetica, Arial,
		sans-serif;
	color: #333;
	background-color: #f7f7f7 !important;
}

body {
	min-height: 100vh !important;
}

h1 {
	font-size: 3.2em !important;
	line-height: 1.1 !important;
}

h3 {
	font-size: 1.5em !important;
}
